# Versão do Docker Compose
version: '3.8'

# Define os serviços (contêineres)
services:

  # Serviço 1: Nosso Backend (Proxy da Open-Meteo)
  api:
    # Diz ao Compose para construir a imagem usando o Dockerfile da pasta ./apps/api
    build: ./apps/api
    container_name: bootcamp-api
    ports:
      # Mapeia a porta 3000 do contêiner para a porta 3000 da sua máquina (host)
      # Formato: "HOST:CONTAINER"
      - "3000:3000"
    
    # --- CORREÇÃO IMPORTANTE ---
    # Força o contêiner a usar um DNS público e confiável (Google)
    # Isso corrige erros de rede/timeout (ETIMEDOUT) dentro do Docker.
    dns:
      - 8.8.8.8

    # Reinicia o contêiner automaticamente se ele falhar
    restart: unless-stopped

  # Serviço 2: Nosso Frontend (PWA Nginx)
  web:
    # Constrói a imagem usando o Dockerfile da pasta ./apps/web
    build: ./apps/web
    container_name: bootcamp-web
    ports:
      # Mapeia a porta 80 (padrão Nginx) do contêiner para a porta 8080 da sua máquina (host)
      - "8080:80"
    # A variável VITE_API_URL foi removida para que o frontend use
    # o 'http://localhost:3000' (definido no main.js), que é o correto
    # para a comunicação navegador -> host -> contêiner.
    
    # Garante que o serviço 'api' inicie ANTES do serviço 'web'
    depends_on:
      - api
    restart: unless-stopped