# Versão do Docker Compose
version: '3.8'

# Define os serviços (contêineres)
services:

  # Serviço 1: Nosso Backend (Proxy da Open-Meteo)
  api:
    # Diz ao Compose para construir a imagem usando o Dockerfile da pasta ./apps/api
    build: ./apps/api
    container_name: bootcamp-api
    ports:
      # Mapeia a porta 3000 do contêiner para a porta 3000 da sua máquina (host)
      # Formato: "HOST:CONTAINER"
      - "3000:3000"
    # Reinicia o contêiner automaticamente se ele falhar
    restart: unless-stopped

  # Serviço 2: Nosso Frontend (PWA Nginx)
  web:
    # Constrói a imagem usando o Dockerfile da pasta ./apps/web
    build: ./apps/web
    container_name: bootcamp-web
    ports:
      # Mapeia a porta 80 (padrão Nginx) do contêiner para a porta 8080 da sua máquina (host)
      - "8080:80"
    environment:
      # Passa a URL da API para o PWA (Vite)
      # Dentro da rede Docker, o 'web' não usa 'localhost',
      # ele usa o nome do serviço: 'http://api:3000'
      - VITE_API_URL=http://api:3000
    # Garante que o serviço 'api' inicie ANTES do serviço 'web'
    depends_on:
      - api
    restart: unless-stopped